.card{
  width: 40%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #d1d1d1;
  border-radius: 15px;
}

.no_data{
  text-align: center;
  margin-top: 10rem;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 40px;
  padding: 2rem;
  background-color: rgb(167, 167, 167);
  color: white;
  font-weight:bold;
}
