<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link mx-5 fs-4" aria-current="page" [routerLink]="['/']" routerLinkActive="Active" [routerLinkActiveOptions]="{ exact: true }">Prodotti</a>
        <a class="nav-item nav-link mx-5 fs-4" aria-current="page" [routerLink]="['cart']" routerLinkActive="Active">Carrello ({{cartService.count}})</a>
      </div>
    </div>
  </div>
</nav>
